{% extends "layout/base.html" %}
{% set active_page = 'about' %}
{% block main %}
    <h2>Theory Test Simulation</h2>
    <p class="lead">The developer was inspired to create this site after the traumatic experience of taking the real
        theory
        exam and failing twice.</p>
    <p class="lead">All questions are randomly selected from a database of 150 test questions adapted from the Driving
        License Requisition Manual issued by the Thailand Department of Land Transport.</p>
    <p class="lead">The style, timing and difficulty of the full simulation match those of the real exam, which means
        answers to incorrect questions are revealed only upon finishing the test.
        Wording of questions mimics the real exam. It will be occasionally confusing and often use non-native sounding
        English.</p>
    <br>
    <p class="lead">Questions or enquiries: <a href="mailto:impermanent_gains@proton.me" class="text-white">impermanent_gains@proton.me</a>
    </p>
{% endblock %}