{% extends "layout/base.html" %}
{% set active_page = 'about' %}
{% block main %}
    <h2>Theory Test Simulation</h2>
    <p class="lead">This site was created after the developer experienced the frustration of failing the real theory exam twice. Our goal is to provide a realistic practice environment to help you prepare more effectively.</p>
    <p class="lead">All questions are randomly drawn from a database of 150 test questions adapted from the Driving License Requisition Manual issued by the Thailand Department of Land Transport.</p>
    <p class="lead">The full simulation is designed to mirror the style, timing, and difficulty of the actual exam. Just like the real test, you will only see the correct answers after you have completed all the questions. The wording of the questions has been intentionally crafted to match the real exam, meaning it can be occasionally confusing and may feature non-native English phrasing.</p>
    <p class="lead">We hope this practice tool helps you feel more confident and prepared for the real exam!</p>
    <br>
    <p class="lead">Questions or enquiries: <a href="mailto:lostintime101dev@gmail.com" class="text-white">lostintime101dev@gmail.com</a>
    </p>
{% endblock %}