
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}

}
.list-unstyled{
text-align: left;
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

body {
background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
max-width: 960px;
}

.pricing-header {
max-width: 700px;
}

.answer_button {
vertical-align: bottom;
}

#exit {
cursor:pointer;
}

.selected-item {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
.correct-item {
    background-color: #28a745; /* green background color */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
.wrong-item {
    background-color: #dc3545; /* red background color */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.selected-item:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}
.correct-item:hover {
    background-color: #207e35; /* Darker green background color on hover */
}

.wrong-item:hover {
    background-color: #ff0000; /* Darker green background color on hover */
}

.selected-item > .card-body button {
    background-color: #555; /* Grey button background color */
    color: #fff; /* White button text color */
    border: none; /* No border */
    border-radius: 3px; /* Rounded corners */
    padding: 8px 16px; /* Padding for the button */
    margin: 5px; /* Margin to separate button from surrounding content */
    cursor: pointer; /* Cursor style */
}

.selected-item > .card-body button:hover {
    background-color: #333; /* Darker grey button background color on hover */
}
.validate-button {
    background-color: #28a745; /* Green for validation */
    color: #fff; /* White text color */
}

.next-button {
    background-color: #007bff; /* Blue for next */
    color: #fff; /* White text color */
}

.previous-button {
    background-color: #beb6b6; /* Grey for previous */
    color: #fff; /* White text color */
}

.validate-button:hover,
.next-button:hover,
.previous-button:hover {
    filter: brightness(90%); /* Slight brightness reduction on hover */
}

.question_header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.answer_card {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}